$pink-1: #fef9fb;
$pink-2: #fdedf3;
$pink-3: #e83179;

$blue-1: #f3f9fe;
$blue-2: #dceeff;
$blue-3: #b3d9f3;

$purple-1: #f3f3f9;
$purple-2: #dbdbed;
$purple-3: #8787c4;

$yellow-1: #fffae9;
$yellow-2: #fff1b2;
$yellow-3: #ffcf00;

$green-1: #eaf9f7;
$green-2: #bfeee7;
$green-3: #2cc5b1;

$red-1: #feecec;
$red-2: #f8a0a0;
$red-3: #f46363;

$gray-1: #f5f5f5;
$gray-2: #eaeaea;
$gray-3: #959393;

$lightslategray-1: #f2f4f8;
$lightslategray-2: #cbd4e1;
$lightslategray-3: #778899;

$black-1: #605f5f;
$black-2: #403b3b;
$black-3: #212121;

$black-transparent-1: rgba($black-3, 0.3);
$black-transparent-2: rgba($black-3, 0.6);
$black-transparent-3: rgba($black-3, 0.9);

$white-1: #ffffff;

$blue-link-1: #0b89ff;
