@font-face {
  font-family: 'Quicksand';
  font-weight: bold;
  src: url('../../assets/fonts/Quicksand-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  font-weight: normal;
  src: url('../../assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

@mixin font-quicksand {
  font-family: 'Quicksand', Helvetica, sans-serif;
}

@mixin font-roboto {
  font-family: 'Roboto', Helvetica, sans-serif;
}

$font-size-base: 1rem;

$font-size-sm: $font-size-base * 0.875;
$font-size-m: $font-size-base;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-normal: normal;
$font-weight-bold: bold;

$line-height-sm: 1.25;
$line-height-m: 1.5;
$line-height-lg: 2;
