@import 'colors';

:export {
  pink-1: $pink-1;
  pink-2: $pink-2;
  pink-3: $pink-3;

  blue-1: $blue-1;
  blue-2: $blue-2;
  blue-3: $blue-3;

  lightslategray-1: $lightslategray-1;
  lightslategray-2: $lightslategray-2;
  lightslategray-3: $lightslategray-3;

  purple-1: $purple-1;
  purple-2: $purple-2;
  purple-3: $purple-3;

  yellow-1: $yellow-1;
  yellow-2: $yellow-2;
  yellow-3: $yellow-3;

  green-1: $green-1;
  green-2: $green-2;
  green-3: $green-3;

  red-1: $red-1;
  red-2: $red-2;
  red-3: $red-3;

  gray-1: $gray-1;
  gray-2: $gray-2;
  gray-3: $gray-3;

  black-1: $black-1;
  black-2: $black-2;
  black-3: $black-3;

  black-transparent-1: $black-transparent-1;
  black-transparent-2: $black-transparent-2;
  black-transparent-3: $black-transparent-3;

  white-1: $white-1;

  blue-link-1: $blue-link-1;
}
